body {
    
    background-image: linear-gradient(
        180deg,
        #f0792a 5%,
        #00FFFF 20%,
        #008B8B 60%,
        #76d100 95% 
    );
    margin: 0;
    padding: 0px;
    min-height: 100vh;/*  */
    width: 100%;
}

.imagem {
    height: 300px;
    margin: 15px 0;
    width: 300px;

}
#personagem01 {
    /*border: solid red 2px*/
    
    
}

#personagem02 {
    /*border: solid #00FFFF 2px;*/
}
#personagem03
 {
   /* border: solid green 2px;*/
}

.personagens{
    float: left;
    width: 33%;
    margin-bottom: 20px;
}

.personagens li {
    align-items: baseline;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.personagens li p {
    color: #fff;
}

#botao {
   
    background-color: #0004ff; 
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: EuclidBold;
    font-size: 12px;
    font-weight: 500;
    
    letter-spacing: -0.6px;/*entre letras*/
    line-height: 20px;/* altura da linha*/
    padding: 9px 23px;
    text-transform: uppercase;/*todas maiusculas*/
 }

